/*
// Extended Reviews
*/

td.td1 span#tagRow7647:after, td.td2 span#tagRow7647:after{
  content: "\a \003e take care of her \a \003e fall in love \a \003e there are kappas and shit \a not bad if you ask me";
}

td.td1 span#tagRow104:after, td.td2 span#tagRow104:after{
  content: "\003e angst \a on the edgier side of shoujos \a not the worst";
}

td.td1 span#tagRow22547:after, td.td2 span#tagRow22547:after{
  content: "can't say i was expecting much out of a corean game adaptation cartoon ni da";
}

td.td1 span#tagRow9539:after, td.td2 span#tagRow9539:after{
  content: "\a \003e your battles with printed anime pictures on cardboard will determine the fate of another world \a i know they want this to sell but my god";
}

td.td1 span#tagRow6645:after, td.td2 span#tagRow6645:after{
  content: "such a heartwarming story wouldn't you agree?";
}

td.td1 span#tagRow16419:after, td.td2 span#tagRow16419:after{
  content: "\a \003e Cure Ace appears out of nowhere, a literal 10 year old starts ragging on the cures for being weak. \a Buttmad that Regina wasn't Cure Ace? She actually was though (muh spoilers). \a \003e Regina disappears for the second half of the season for no reason. \a She was grounded ok?? \a \003e Cure Sword's story wasn't treated well. \a Implying you know what it's like for your entire world and everyone you love to be taken away from you. \a \003e Cure Heart is annoying and I hate how she always finishes off the enemies by channeling her friends' powers and everybody loves her and she is too perfect. \a Stay mad :^) \a Seriously though, this series is about controlling your selfishness but you were too daft to realize that they were trying to instill in you that there is a \0022 bad \0022 kind of selfishness called egocentrism and a \0022 good \0022 kind of selfishness called selflessness. Mana's selfishness is that she doesn't allow her friends to carry her burdens. You are literally upset because she thinks of others before herself and wants to carry the burdens of those she loves. Stay. Mad. Don't listen to the haters. This is a great season of PreCure.";
}

td.td1 span#tagRow2030:after, td.td2 span#tagRow2030:after{
  content: "one of my favourites. \a highly recommended chinese cartoon";
}

td.td1 span#tagRow226:after, td.td2 span#tagRow226:after{
  content: "\003e she lost her memories and you locked yours away \a \003e your memories come back \a \003e kind of angry at first but nah it's coo \a \003e wow what a great love story :^)";
}

td.td1 span#tagRow476:after, td.td2 span#tagRow476:after{
  content: "\003e you fall in love with said canadian aviator punk \a \003e he's already dead \a \003e tfw";
}

td.td1 span#tagRow7645:after, td.td2 span#tagRow7645:after{
  content: "\a You don't have to be a PreCure fan to love this one - it is just an all around amazing show. There are sad, powerful, moving moments. There are happy, uplifting, invigorating moments. Preaches very valuable lessons applicable to everyday life. Wonderful, charming art and animation alongside a very livid and colorful soundtrack with great disparity between light-hearted moments and intense moments. Sorry to say that if you haven't seen this cartoon then you've wasted your life up to this point. Better get on that.";
}

td.td1 span#tagRow248:after, td.td2 span#tagRow248:after{
  content: "\a \003e In the end he chooses the aryan girl and all is well. \a don't play around like this guy did kids \a \a i don't know if the author meant for this story to be so damn aggravating but she did a damn good job of it. times like this remind me that watching anime truly is suffering";
}

td.td1 span#tagRow1579:after, td.td2 span#tagRow1579:after{
  content: "\003e loses magical powers but she starts practicing then and it's all good \a consider me triggered";
}

td.td1 span#tagRow9756:after, td.td2 span#tagRow9756:after{
  content: "\003e \0022 b-but it deals with themes that are too complicated for children \0022 \a it's a magical girl anime. no need to lose your head over this.";
}

td.td1 span#tagRow3667:after, td.td2 span#tagRow3667:after{
  content: "underwear/swimwear clearly visible due to the fact that they don't wear pants (they don't wear pants)";
}

td.td1 span#tagRow9893:after, td.td2 span#tagRow9893:after{
  content: "\00a0 The ability to affect human emotions is powerful indeed. \a \a Unique to this season is the amount of fighting Hibiki and Kanade do. They argue a lot but they realize that more than often their rifts are caused by misunderstandings or the inability to be honest with each other. \a \a Also this is the season with the cutest mascots. They look like sentient ring pops.";
}

td.td1 span#tagRow11757:after, td.td2 span#tagRow11757:after{
  content: "and im referring to the adaptation of the light novel series sword art online by reki kawahara (author of accel word which was adapted by sunrise with a 7.74 on myanimelist), complete with the aincrad, fairy dance, ggo, and mother's rosario arcs, with underworld (sao 3) in the making soon to be annouced, with various spinoffs such as sword art online progressive, as well as multiple manga adaptations, all rated as a 10/10 japanese media by scotteh (global moderator on pokemonshowdown.com)";
}

td.td1 span#tagRow10620:after, td.td2 span#tagRow10620:after{
  content: "\00a0 all iPhone\2122 \00a0 users are competing to become the new Chairman and Chief Executive Officer of Apple Incorporated\00ae .";
}

td.td1 span#tagRow12191:after, td.td2 span#tagRow12191:after{
  content: " this is a good season of precure. A little too much waterworks though. \a \a Het in episode 36.";
}

td.td1 span#tagRow28825:after, td.td2 span#tagRow28825:after{
  content: " for Ebina to play a bigger role. Though if she plays piano again under the guise that her keyboarding ability somehow translates to musical ability then I'm done with this shit."
}
